MAX_BOT = 200
DEVS = 6750451260
API_ID = 25013919
API_HASH = 49f8154ecb53d1ff8b470253e4cb8cc9
BOT_TOKEN = 8197359031:AAFE0qONF8Xog0PxXaQ9G2qjAvx9BqbGnl8
OWNER_ID = 6750451260
BLACKLIST_CHAT = -1002312835928 
RMBG_API = Y8mKMpDEsaZsvRikj4xk8xRR
MONGO_URL = mongodb+srv://Apalakapalak:Apalakapalak@apalakapalak.84vdobg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGS_MAKER_UBOT = -1002532309189
